{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HR Portal</title>
</head>
<body>
    <button><a href="{% url 'home' %}">Home</a></button>
    <button><a href="{% url 'about' %}">Emp of the month</a></button>

    <h2>Calculate Employee's working hours</h2>
    <form method="get">{% csrf_token %}
        {{form|crispy}}
        <button type="submit">Calculate</button>
    </form>
    {% if empdata %}
        {% for emp in empdata %}
            <ul>
                <pre>Name: {{emp}}      working Date: {{emp.day}}   working_hours: {{emp.working_hours}}</pre>
            </ul>
        {% endfor %}

        {% with empdata|first as empname %}
            {% if totalworkinghours %}

                <pre>
                    <b>Name</b>: {{empname}}      <b>From</b>:{{start}}   <b>To</b>:{{end}}   <b>Total working hours</b>: {{totalworkinghours}}
                </pre>

            {% endif %}
        {% endwith %}
    {% endif %}
</body>
</html>
